<ion-app>
  <ion-header translucent>
    <ion-toolbar id="ShowToolbar">
      <ion-img *ngIf="isMobile() == true" class="ForMobile" slot="end"  src="/assets/img/logo.png"></ion-img>
      <ion-img *ngIf="isMobile() == false" class="ForPC" src="/assets/img/logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content  fullscreen>
    <ion-grid class="ComputerView GridPic">
        <div class="container" >
          <div  class="containerPc" >
      <ion-row>
        <ion-col class="ColPic">
          <div *ngIf="media.hasThumbnail()">
            <ion-img id="imgpost" [src]="media.getThumbnail('full')"></ion-img>
            <h1 id="TextView" *ngIf="post.title" [innerHTML]="post.getTitle()"></h1>
          </div>
        </ion-col>
      </ion-row>
          </div>
        </div>
      <!--    *******-->
      <div  class="containerPc2" >
      <ion-row >
        <ion-col style="margin-top: -7%">
          <div class="ContainerUpper" id="ShowUpperBorder">
          <p *ngIf="categories.length" id="centerPostedIN">
            Posted in: <span *ngFor="let category of categories; let isLast=last">{{category.name}}{{isLast ? '' : ', '}}</span>
          </p>

          <p *ngIf="tags.length">
            Tags: <span *ngFor="let tag of tags; let isLast=last">#{{tag.name}}{{isLast ? '' : ', '}}</span>
          </p>

          <p *ngIf="post.content" [innerHTML]="post.content.rendered"></p>

          <div id="DateText" >
             <p>{{users.name}}</p>
             <p *ngIf="post.date" [innerHTML]="post.getDate()"></p>
          </div>
          <div *ngIf="comments.length" class="posts-comments-wrapper">
            <p class="bold-title">Comments:</p>

            <ion-item *ngFor="let comment of comments">
              <ion-avatar item-start>
                <img src="{{comment.author_avatar_urls[24]}}">
              </ion-avatar>
              <div>{{comment.author_name}}</div>
              <p [innerHTML]="comment.content.rendered"></p>
            </ion-item>

          </div>

          <div id="ShowContainer" class="ShareContainer">
            <a  target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}"  class="fb-xfbml-parse-ignore">
             <ion-img id="FBShare" src="assets/icon/fbicon.png" ></ion-img>
            </a>
            <a  target="_blank" href="https://twitter.com/intent/tweet?text={{post.link}}"  class="fb-xfbml-parse-ignore">
              <ion-img id="TRShare" src="assets/icon/tweeticon.png" ></ion-img>
            </a>
          </div>
          </div>

        </ion-col>

      </ion-row>
      </div>
    </ion-grid>

    <footer id="ShowFooter" class="main-footer">
      <!--Footer Upper-->
      <!--        <div class="footer-upper">-->
      <!--            <div class="auto-container">-->
      <!--                <div class="row clearfix">-->

      <!--                    &lt;!&ndash;Footer Widget&ndash;&gt;-->
      <!--                    <div class="col-md-3 col-sm-12 col-xs-12">-->
      <!--                        <div class="footer-widget contact-widget">-->
      <!--                            <h3>Contact Us</h3>-->
      <!--                            <div class="text">If you are in the middle of something and you don’t want to miss that important call that could be the start of an exciting new business.</div>-->
      <!--                            <ul class="info">-->
      <!--                                <li><strong>Email</strong> <a href="mailto:carshire@email.com">carshire@email.com</a></li>-->
      <!--                                <li><strong>Phone</strong> <a href="#">+49 123 456 789</a></li>-->
      <!--                                <li><strong>Fax</strong> <a href="#">+49 123 456 789</a></li>-->
      <!--                                <li><strong>Website</strong> <a href="http://www.envato.com/">http://www.envato.com</a></li>-->
      <!--                            </ul>-->
      <!--                        </div>-->
      <!--                    </div>-->

      <!--                    &lt;!&ndash;Footer Widget&ndash;&gt;-->
      <!--                    <div class="col-md-3 col-sm-12 col-xs-12">-->
      <!--                        <div class="footer-widget services-widget">-->
      <!--                            <h3>Our Services</h3>-->
      <!--                            <ul class="links">-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Car cleaning and washing</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Yearly car inspection view</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Car repair and change service</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Car selling and buying service</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Test driving and speed test</a></li>-->
      <!--                            </ul>-->
      <!--                        </div>-->
      <!--                    </div>-->

      <!--                    &lt;!&ndash;Footer Widget&ndash;&gt;-->
      <!--                    <div class="col-md-3 col-sm-12 col-xs-12">-->
      <!--                        <div class="footer-widget support-widget">-->
      <!--                            <h3>Our Support</h3>-->
      <!--                            <ul class="links">-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>How to get started?</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Frequently asked questions</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Customer testimonials</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Get a free quote</a></li>-->
      <!--                                <li><a href="#"><i class="fa fa-check-circle"></i>Help &amp; Support Center</a></li>-->
      <!--                            </ul>-->
      <!--                        </div>-->
      <!--                    </div>-->

      <!--                    &lt;!&ndash;Footer Widget&ndash;&gt;-->
      <!--                    <div class="col-md-3 col-sm-12 col-xs-12">-->
      <!--                        <div class="footer-widget newsletter-widget">-->
      <!--                            <h3>Quick Contact</h3>-->
      <!--                            <form action="#" class="clearfix">-->
      <!--                                <p><input type="text" placeholder="Your Name"></p>-->
      <!--                                <p><input type="text" placeholder="Your Email"></p>-->
      <!--                                <p><textarea placeholder="Your Message"></textarea></p>-->
      <!--                                <p><button class="hvr-bounce-to-right" type="submit">Send Message</button></p>-->
      <!--                            </form>-->

      <!--                        </div>-->
      <!--                    </div>-->

      <!--                </div>-->
      <!--            </div>-->
      <!--        </div>-->

      <!--Footer Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">

          <div class="row clearfix">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="copyright">Copryright 2019 knOOzFm </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="social-links">
                <a target="_blank" href="https://www.facebook.com/radioknooz" class="fa fa-facebook"></a>
                <a target="_blank" href="https://twitter.com/account/suspended" class="fa fa-twitter"></a>
                <a target="_blank" href="http://www.youtube.com/channel/UCRJ5DgbIzDSmjP3SMbaTNFA" class="fa fa-youtube"></a>
                <a target="_blank" href="https://plus.google.com/+KnOOzFM/" class="fa fa-google"></a>
                <a target="_blank" href="https://soundcloud.com/knooz12" class="fa fa-soundcloud"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>

  </ion-content>

</ion-app>



