


@media  (min-width: 1200px)
{
  .ComputerView{
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .textplace{
     padding-right: 50px;
    font-size:25px;

  }

  .ForPC{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
    position: relative;
    top: 0;
    transform: translateY(-20%);
    width: 7%;
  }

  ion-toolbar{
    margin-top: 0.5%;
  }

  .containerPc {

    display: block;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    font-size:25px;
    color:#000;
    text-align:center;

  }
  .containerPc2 {

    margin-top:2%;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    font-size:25px;
    color:#000;
    text-align:left;

  }

}

.footer-bottom{
  position:relative;
  padding:5px 0;
  font-size:14px;
  line-height:20px;
  background:#10a4dc;
  color:#ffffff;
}
.main-footer
{position:relative;
  padding:5px 0;
  font-size:14px;
  line-height:20px;
  background:#10a4dc;
  color:#ffffff;
}
.main-footer .footer-upper{
  position:relative;
  padding:40px 0 10px;
}
.auto-container{
  position:static;
  max-width:1200px;
  padding:0 15px;
  margin:0 auto;
}

.main-footer .footer-bottom .copyright{
  padding:12px 0;
}


.main-footer .social-links{
  position:relative;
  text-align:right;
  padding-bottom:6px;
}
.main-footer .social-links a{
  position:relative;
  display:inline-block;
  width:36px;
  height:32px;
  text-align:center;
  background: #000;
  color:#ffffff;
  font-size:16px;
  line-height:32px;
  margin:9px 2px 0;
  border-radius:3px;
  -webkit-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  -moz-border-radius:3px;
  transition:all 500ms ease-out;
  -webkit-transition:all 500ms ease-out;
  -o-transition:all 500ms ease-out;
  -moz-transition:all 500ms ease-out;

}

.main-menu .navbar-header{
  position:relative;
  float:none;
  display:block;
  top:-7px;
  right:15px;
  width:auto;
  z-index:12;
}

.main-menu .navbar-header .navbar-toggle{
  display:block;
  z-index:7;
  border:1px solid #ffffff;
  margin:0 0 0 0;
}
.team-box .social-links .plus-btn{
  position:absolute;
  right:0;
  bottom:0;
  width:42px;
  height:42px;
  //background:#fb4848 url(../images/icons/icon-plus.png) center center no-repeat;
  cursor:pointer;
  z-index:3;
}


/************MOBILE CONTAINER VIEW*************/
@media  (max-width: 1100px){
  .ColPic {
    padding: 0 0 0 0;
  }
  .GridPic{
    padding: 0 0 0 0;
  }
  .ForMobile{
    width: 50px;
    height: 50px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

}

#TextView{
  position: relative;
  transform: translate(0,-50%);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 1.8px;
  word-spacing: 0.6px;
  color: black;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  background-color: #918f3d;
  text-align:center;
}

p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: 1.8px;
  word-spacing: 0.6px;
  color: black;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
}

#DateText{
  text-align: right;
  word-wrap: break-word;
}


a:link{
  text-decoration: none
}

#FBShare{
  width: 65%;
  height: 65%;
 margin-left: 40%;
  margin-top: 5%;
}
#TRShare{
  width: 65%;
  height: 65%;
  margin-right: 40%;
  margin-top: 5%;
}

.ShareContainer{
  position: relative;
  display: none;
  border-right: 2px solid #cfe027;
  border-bottom: 2px solid #cfe027;
  border-left: 2px solid #cfe027;
}

.ContainerUpper{
  position: relative;
  height: 7.5%;
  display: none;
  border-right: 2px solid #cfe027;
  border-top: 2px solid #cfe027;
  border-left: 2px solid #cfe027;
}


/***************HIDE COMPONENTS***************/


#ShowFooter{
  display: none;
}

#ShowToolbar{
  display: none;
}

#centerPostedIN{
  text-align: center;
}
