<ion-content>

        <ion-slides  #mySlider  [options]="slideOpts" (ionSlidesDidLoad)="StartChanging()" (ionSlideDidChange)="StartChanging()" (ionSlideReachEnd)="getMorePosts($event)">
        <ion-slide  *ngFor="let post of posts" (click)="openPost(post.id)">
            <ion-content>
                <ion-progress-bar id="ProgressBar" *ngIf="isMobile() == true" color="secondary" value="{{progress}}"></ion-progress-bar>
                <div class="crop" *ngIf="post.media.hasThumbnail()">
                     <ion-img class="crop" [src]="post.media.getThumbnail('full')"></ion-img>
                </div>
                <div class="crop" *ngIf="!post.media.hasThumbnail()">
                    <ion-img class="crop" src="/assets/img/error.png"></ion-img>
                </div>
                <ion-label id="CategoryText" class="home-category">{{categories[post.categories[0]]}}</ion-label>
            <div id="datetext"  [innerHTML]="post.getDate()" class="post-date align-content-center"></div>
            <ion-label id="text"  [innerHTML]="post.getTitle()" class="align-content-center effect-shine" text-wrap></ion-label>
            </ion-content>
        </ion-slide>

        <ion-slide id="ionSlideLoader">
            <div id="SlideLoader" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </ion-slide>

    </ion-slides>
    <ion-img id="img-logo" src="/assets/img/logo.png"></ion-img>
    <div *ngIf="isMobile() == false" class="swiper-button-prev" (click)="swipePrev()"></div>
    <div *ngIf="isMobile() == false" class="swiper-button-next" (click)="swipeNext()"></div>
    <ion-img *ngIf="isMobile() == true" id="ButtonNext" src="/assets/icon/next.png" (click)="swipeNext()" ></ion-img>
</ion-content>



