

//.img-container {
// height: 500px;
//  width: 500px;
//}


@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');


#text{
  position: absolute;
  top: 80%;
  left: 50%;
  margin: 0 -50% 0 0;
  font-family: 'Anton', sans-serif;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size:25px;
  color: #000000;
  width:100%;
  display:block;
  background-color: beige;
}
#datetext{
  position: absolute;
  top: 65%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size:25px;
  color: whitesmoke;
  width:100%;
  display:block;
}

#CategoryText{
  position: absolute;
  top: 58%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size:25px;
  color: black;
  width:100%;
  display:block;
  background-color: #d3e02e;

}



//*******COMPUTER**********/
@media (min-width: 1200px) {
  #img-logo {
    position: absolute;
    top: 10%;
    left: 10%;

    transform: translate(-70%, -50%);
    width: 20%;
    height: 20%;
    z-index: 1;
    display:none;

  }
}
//*******DEVICES**********/
@media (max-width: 1100px) {
  #img-logo {

    position: absolute;
    top: 10%;
    left: 15%;

    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    z-index: 1;
    display:none;
  }
}

ion-slides{
  height: 100%;
  width: 100%;
}
.crop{
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: 100%;
  filter: brightness(90%);
}


.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

/************************MENU*********************/


/********************SLIDES VIEW OPTIONS************/
#ButtonNext{
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 20%;
  height: 20%;
  z-index: 1;
  display: none;
}

/*******************TIMER*********************/
#ProgressBar{
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
}

/********************LOADER**********************/
#SlideLoader  {
  display: none;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #efffff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

#ionSlideLoader{
  display:none;
  background-color: #cab61f;
}


